.theme-dark .header__decorative-element {
  display: block;
}

:root.theme-dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --text-color-on-accent: #000028;
  --background-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --background-image: url('../images/cover-image-dark.png');
  --container-padding: 20px;
  --section-gap: 50px;
}
