:root.theme-dark {
  --background-page: #000028;   
  --accent-primary: #ff0070;  
  --title-main: #ff0070;
  --text-main: #f1b2ce; 
  --title-highlight-color: #000028;
  --title-highlight-bg: #ff0070;
  --title-header-color: #db00ff; 
  --button-main: #ff0070;
  --button-hover-state: rgba(255, 0, 112, 0.4);
  --link-shadow-main: #ff0070;
  --bg-cover: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  --bg-cover: url(../images/cover-image-dark.png);
}
.theme-dark .header__rec { 
  display: block;
}   
