:root.theme-light {
  --accent-primary: #ff0070; 
  --title-header-color: #db00ff;  
  --background-page: #f8f8f8;
  --text-main: #333;
  --title-main: #555;
  --title-highlight-color: #fff;
  --title-highlight-bg: #353430;
  --button-main: #353430;
  --button-hover-state: rgba(53, 52, 48, 0.4);
  --link-shadow-main: #353430;
  --bg-cover: url(../images/cover-image-light.png);
}

.theme-light .page {
  --bg-cover: url(../images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-primary: #ff0070;
  --title-header-color: #db00ff;
  --background-page: #f8f8f8;
  --text-main: #333;
  --title-main: #555;
  --title-highlight-color: #fff;
  --title-highlight-bg: #353430;
  --button-main: #353430;
  --button-hover-state: rgba(53, 52, 48, 0.4);
  --link-shadow-main: #353430;
  --bg-cover: url(../images/cover-image-light.png);
  }

  .page {
    --bg-cover: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}
 
