.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --text-color-on-accent: #353430;
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --background-image: url('../images/cover-image-light.png');
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
}

.theme-light .header__decorative-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root { 
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --text-color-on-accent: #353430;
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --background-image: url('../images/cover-image-light.png');
    --main-font: 'IBM Plex mono', monospace;
    --font-size: 18px;
  }
}
