.page { 
  min-block-size: 100vh;
  font-family: var(--font-main);
  font-weight: var(--font-weight-default);
  color: var(--text-main); 
  background-color: var(--background-page);
  font-size: 18px; 
  line-height: 1.3;  
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  min-block-size: 100vh;
  block-size: 100vh;
  background-image: var(--bg-cover);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--button-main);
  border-block-start: 1px solid var(--button-main);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--button-main);
  border-block-end: 1px solid var(--button-main);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__rec {
  position: absolute;
  color: var(--accent-primary);
  text-transform: uppercase;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-primary);
  box-shadow: 0 0 4px 2px var(--accent-primary);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  border: 1px solid transparent;
  color: var(--button-main);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 26px;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-state);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-main);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-main);
  pointer-events: none;
}

.header__title {
  color: var(--title-header-color);
  font-weight: var(--font-weight-heavy);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-primary);
  justify-self: start;
}

.header__subtitle {
  justify-self: end;
  max-inline-size: 364px;
  font-weight: var(--font-weight-heavy);
}

.title-decor {
  color: var(--title-highlight-color);
  background-color: var(--title-highlight-bg);
}

.page-content {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.focus-section {
  display: grid;
  gap: 20px;
}

.section-heading {
  color: var(--title-main);
  font-weight: var(--font-weight-heavy);
  font-size: 18px;
}

.insight-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-heading {
  font-weight: var(--font-weight-heavy);
  font-size: 18px;
}

.card-subheading {
  font-weight: var(--font-weight-default);
  font-size: 18px;
  margin-top: 10px;
}

.card-text {
  font-size: 18px;
}

.external-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-main);
  border-block-end: 1px solid transparent;
}

.external-link:hover {
  border-block-end: 1px solid var(--text-main);
}

.external-link:focus {
  outline: none;
}

.external-link:focus-visible {
  outline: 1px solid var(--text-main);
  outline-offset: 2px;
}
 
.visual-gallery {
  display: grid;
  gap: 10px;
}

.gallery-heading {
  font-weight: var(--font-weight-heavy);
  font-size: 18px;
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.focus-section:nth-child(1) .section-heading {
  grid-area: title1;
  max-inline-size: 355px;
}

.focus-section:nth-child(1) .insight-card:nth-child(2) {
  grid-area: card1;
}

.focus-section:nth-child(1) .insight-card:nth-child(3) {
  grid-area: card2;
}

.focus-section:nth-child(2) .section-heading {
  grid-area: title2;
  max-inline-size: 355px;
}

.focus-section:nth-child(2) .insight-card:nth-child(4) {
  grid-area: card5;
}

.focus-section:nth-child(2) .insight-card:nth-child(2) {
  grid-area: card3;
}

.focus-section:nth-child(2) .insight-card:nth-child(3) {
  grid-area: card4;
}

.focus-section:nth-child(3) .section-heading {
  grid-area: title3;
  max-inline-size: 355px;
}

.focus-section:nth-child(3) .insight-card:nth-child(2) {
  grid-area: card6;
}

.focus-section:nth-child(1) {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "title1"
    "card1"
    "card2";
}

.focus-section:nth-child(2) {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "title2"
    "card3"
    "card4"
    "card5";
}

.focus-section:nth-child(3) {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title3"
    "card6";
}

.heading-decor {
  color: var(--title-highlight-color);
  background-color: var(--title-highlight-bg);
}

.footer {
  display: grid;
  place-items: center;
  padding: 10px;
  min-block-size: 100vh;
  block-size: 100vh;
}

.footer__title {
  color: var(--title-header-color);
  font-weight: var(--font-weight-heavy);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-primary);
}

@media (width >= 768px) and (width < 1024px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__subtitle {
    max-inline-size: 364px;
  }

  .page-content {
    padding: 60px 20px;
    gap: 80px;
  }

  .focus-section {
    gap: 20px;
  }

  .focus-section:nth-child(3) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title3 card6";
  }

  .focus-section:nth-child(3) .section-heading {
    max-inline-size: 236px;
  }

  .visual-gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .visual-gallery .gallery-heading {
    grid-column: 1 / -1;
  }

  .visual-gallery .gallery-image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .visual-gallery .gallery-image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .visual-gallery .gallery-image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .visual-gallery .gallery-image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .visual-gallery .gallery-image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .focus-section:nth-child(2) .section-heading {
    max-inline-size: 236px;
  }

  .focus-section:nth-child(1) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title1 card1"
      "title1 card2";
  }

  .focus-section:nth-child(1) .section-heading {
    max-inline-size: 236px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    max-inline-size: 491px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .page-content {
    padding: 60px 20px;
    gap: 80px;
  }

  .focus-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .focus-section:nth-child(1) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title1 card1"
      "title1 card2";
  }

  .focus-section:nth-child(2) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "title2 title2 title2"
      "card3 card4 card5";
  }

  .focus-section:nth-child(3) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title3 card6";
  }

  .focus-section:nth-child(2) .section-heading {
    max-inline-size: 315px;
  }

  .focus-section:nth-child(3) .section-heading {
    max-inline-size: 315px;
  }

  .focus-section:nth-child(1) .section-heading {
    max-inline-size: 315px;
  }

  .visual-gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .visual-gallery .gallery-heading {
    grid-column: 1 / -1;
  }

  .visual-gallery .gallery-image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .visual-gallery .gallery-image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .visual-gallery .gallery-image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .visual-gallery .gallery-image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .visual-gallery .gallery-image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
