:root {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --text-color-on-accent: #000028;
  --background-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --line-height: 1.3;
  --background-image: url('../images/cover-image-dark.png');
  --section-gap: 50px;
  --container-padding: 10px;
}
