:root { 
  --accent-primary: #ff0070;
  --title-header-color: #db00ff;
  --background-page: #000028; 
  --text-main: #f1b2ce;    
  --title-main: #353430; 
  --title-highlight-color: #000028;
  --title-highlight-bg: #ff0070;
  --button-main: #ff0070;
  --button-hover-state: rgba(255, 0, 112, 0.4);
  --link-shadow-main: #ff0070;
  --bg-cover: url(../images/cover-image-dark.png);
  --font-main: "IBM Plex mono", monospace;
  --font-weight-default: 400;
  --font-weight-heavy: 700; 
} 
 
